/* Write your CSS here */
.container{
    border: 1px solid rgb(183, 176, 176);
    padding: 10px;
} 
 
.row{
  border: 1px solid black;
  height: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.col{
    border: 0.5px solid rgb(183, 176, 176);
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 30px;
  }

